# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 쿼리 파일을 포함한 무시된 디폴트 폴더
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/

# IDE 환경 설정 파일
.idea/
*.iml

# 빌드 결과물 (Java/Spring Boot 기준)
target/
build/
out/
